.main{
    width: 100%;
    height: 100vh;
    background-color:rgba(91, 112, 131, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
}
.center{
    border: 1px solid black;
    width: 30rem;
    height: 33rem;
   border-radius: 10px;
   background-color: black;

    
}
.Butten{
    background-color: white;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 50px;
    box-shadow: 2px 3px 6px 2px;
    width: 20rem;
    margin-left: 5rem;
    cursor: pointer;
}
.Butten:hover{
    background-color: gray;
}

.tfi{
    color: white;
    margin-left: 14rem;
    height: 3rem;
    width: 2rem;

}
.h2{
    color: white;
   margin-left: 3rem;
}
.line{
    padding-bottom: 30px;
 }
 .or{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 40px;
}
.input{
    background-color: black;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    /* box-shadow: 2px 3px 6px 2px; */
    width: 17.3rem;
    margin-left: 5rem;
    height: 2rem;
}

.But{
    background-color: gray;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 50px;
    box-shadow: 2px 3px 6px 2px;
    width: 22rem;
    margin-left: 4rem;
    margin-top: 2rem;
    cursor: pointer;
    height: 3rem;
}
.But:hover{
    background-color: white;
}
.Butt{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 50px;
    border: 1px solid white;
    /* box-shadow: 2px 3px 6px 2px; */
    width: 20rem;
    margin-left: 5rem;
    cursor: pointer;
}
.Butt:hover{
    background-color: gray;
}
.h5{
    color: white;
    margin-left: 10rem;
    cursor: pointer;
}


.img{
   margin-right: 1rem;
  
}
.a{
    text-decoration: none                                                        ;
}
.h6{
    color: gray;
    margin-left: 4rem;
    
    list-style-type: none;
    font-size: .7em;
   
}