.keywords {
  right: 0;
  width:100%;
  color: black;
  margin-top: 2.4rem;

}
.key {
  background:white;;
  padding: 0.45rem;
  border-radius: 5px;
  border-radius: 15px;
}
.keyword__heading {
  font-size: 1.25rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
}
.country {
  font-size: 0.875rem;
  color: black;
  font-weight: 300;
}

.keyword__tweets {
  margin-top: 0.1rem;
  color: black;
  font-size: 0.75rem;
  font-weight: 300;
}
.heading4{
  color:black
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.50rem;
}
.container:hover{
  background-color: #e6ecf0;

}

.btn1{
  color: rgb(88, 66, 255);
  
  border: none;
  outline: none;
  font-size: 0.8rem;
  margin-left: 1rem;
  
}

.btn2{
  background: none;
  color: rgb(67, 67, 238);
  margin-top: 1rem;
  margin-left: 1rem;
 
}
.seeAll{

  color: rgb(45, 45, 247);
  margin-top: 1rem;
  font-size: medium;
  width:6rem;
  border-radius: 3rem;
  padding: 0.2rem;;

}
.seeAll:hover{
  background: #e6ecf0;
}